.AppContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

h1{
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 400px;
    margin-right: 10px;
    padding: 16px;
}

.btnAdd {
   margin: 20px 0 15px;
   width: 200px;
   padding: 16px;
   border-radius: 50px;
   cursor: pointer;

}